
@media screen {
  html[additor-pane-parent][additor-with-pane] {
    margin-right: 265px;
  }
}

@media screen {
  html[additor-pane-parent] {
    position: relative;
    width: auto;
    min-width: 0;
    min-height: 100%;
    margin-right: 0;
    transition: margin-right 0.5s;
  }
}

@media screen {
  html[additor-pane-parent], html[additor-pane-parent] > body {
    overflow-x: visible;
    transform: none;
  }
}