@charset "utf-8";

@arrow-up: 'chrome-extension://__MSG_@@extension_id__/images/icon/arrow-up.png';
@arrow-up-selected: 'chrome-extension://__MSG_@@extension_id__/images/icon/arrow-up-selected.png';

@arrow-down: 'chrome-extension://__MSG_@@extension_id__/images/icon/arrow-down.png';
@arrow-down-selected: 'chrome-extension://__MSG_@@extension_id__/images/icon/arrow-down-selected.png';

@letter-x: 'chrome-extension://__MSG_@@extension_id__/images/icon/letter-x.png';

#sotong-main-frame * {
  // all: initial;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  font-size: 10px;
}

#sotong-main-frame {
  all: initial;
  z-index: 2147483647;
  width: 300px;
  height: auto;
  max-height: 350px;
  display: block;
  position: fixed;
  top: 20px;
  right: 35px;
  border-radius: 10px;
  @import './react/template/styles/template';

  .form-control {
    box-shadow: none;
    border: 1px solid #dadada;
  }
}

.webcard-wrapper {
  background-color: white;
  border: 1px solid #e7e7e7;
  height: auto;
  max-height: 450px;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
}

.webcard-item {
  cursor: pointer;
  background-color: white;
  padding-bottom: 5px !important;
  &:hover {
    background-color: #f9f9f9;
  }
}

.sline{
  transform-origin: 0 100%;
  height: 3px; /* Line width of 3 */
  background: #000; /* Black fill */
  z-index: 100000;
}

.frame-close-button {
  position: absolute;
  top: 5px;
  right: -7px;
  width: 20px;
  height: 20px;
  cursor: pointer;

  background-image: url(@letter-x);
  background-repeat: no-repeat;
  background-size: 9px 9px;
  background-position: center;
}

.comment-item-reply {
  float: left;
  display: block;
  width: calc(~"100% - 30px");
  padding: 10px;
  padding-left: 0;
  margin-left: 30px;

  span {
    p {
      padding-left: 40px;
    }

    img {
      margin-right: 10px;
    }

    stong {
      margin-right: 5px;
    }
  }
}

.updown {
  display: inline-block;
  margin-left: 10px;
  float: right;
  .count {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 6px;
  }
  .up {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 5px;
    background-image: url(@arrow-up);
    background-repeat: no-repeat;
    background-size: 10px auto;
    background-position: center;
    cursor: pointer;
    &.selected {
      background-image: url(@arrow-up-selected);
    }
  }
  .down {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-image: url(@arrow-down);
    background-repeat: no-repeat;
    background-size: 10px auto;
    background-position: center;
    cursor: pointer;
    &.selected {
      background-image: url(@arrow-down-selected);
    }
  }
}
